version: "3.3"
services:
  sogo:
    image: japoch/sogo:0.0.1
    ports:
    - "8080:80"
    volumes:
    - ./sogo-conf:/etc/sogo:ro
    - ./nginx-conf/sites-enabled:/etc/nginx/sites-enabled:ro
    - ./backup:/mnt/backup
    restart: unless-stopped
    depends_on:
    - db
    #- mail

  db:
    image: linuxserver/mariadb:10.6.12
    expose:
    - "3306"
    environment:
    - PUID=1000
    - PGID=1000
    - TZ=Etc/UTC
    - MYSQL_ROOT_PASSWORD=password
    - MYSQL_DATABASE=sogo
    - MYSQL_USER=sogo
    - MYSQL_PASSWORD=password
    volumes:
    - ./db-root:/config
    restart: unless-stopped

  mail:
    image: instantlinux/dovecot:2.3.20-r6
    ports:
    - ${PORT_DOVECOT_SMTP:-25}:25
    - ${PORT_DOVECOT_IMAPD:-143}:143
    - ${PORT_DOVECOT_IMAPS:-993}:993
    environment:
    - TZ=Etc/UTC
    #- SSL_DH=dovecot-key.pem
    volumes:
    - ./mail-root/etc/:/etc/dovecot/conf.local:ro
    - ./mail-root/postfix/etc/:/etc/postfix/postfix.d:ro
    - ./mail-root/certs/dovecot_cert:/run/secrets:ro
    - inbox:/var/spool/mail
    - spool:/var/spool/postfix
    - webmail:/home
    #entrypoint: "ls -la /etc/dovecot/"
    restart: unless-stopped
    depends_on:
    - db

  phpmyadmin:
    image: linuxserver/phpmyadmin:5.2.1
    ports:
    - "8081:80"
    environment:
    - PUID=1000
    - PGID=1000
    - TZ=Etc/UTC
    - PMA_ARBITRARY=1
    volumes:
    - ./phpmyadmin-root:/config
    restart: unless-stopped
    depends_on:
    - db

volumes:
  inbox:
  spool:
  webmail:
